<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <div id="main">
        <!-- <h1 v-show="conectado">Estás conectado</h1> -->
        <h1 v-if="conectado">Estás conectado</h1>
        <p v-if="edad>=18">Eres mayor de 18</p>
        <p v-else>No eres mayor de 18 años</p>
        <hr>
        <h2>Renderizado de listas</h2>
        <!-- <p>{{lista}}</p> -->
        <ul>
            <li v-for="nombres in lista">{{nombres}}</li>
        </ul>
        <hr>
        <ul>
            <li v-for="personas in listaPersonas">
                {{personas.nombre}}: {{personas.edad}}
            </li>
        </ul>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="codigo.js"></script>
</body>

</html>